.footer
    &__icon
        width: 32px
        height: 32px
        background-size: cover
        background-repeat: no-repeat
    &__text
        font-size: 14px
        font-weight: bold
        padding: 47px 0px 59px 10px
        text-align: center
        letter-spacing: 2px
        color: #ffffff
        +tablet
            padding: 25px 0px 30px 0px
            font-size: 12px
        +mobile
            max-width: 273px
            text-align: center
            padding-left: 30px
    &__divider
        width: 1269px
        height: 1px
        background: linear-gradient(#343045,#C0B7E8,#8176AF,#343045)
        margin: 0 auto
        margin-top: -15px
        +desktop
            max-width: 1000px
            height: 1px
        +tablet
            max-width: 750px
        +mobile
            max-width: 289px
    &__image
        width: 202px
        height: 218px
        background-image: url(../images/logo_image.svg)
        background-repeat: no-repeat
        background-size: cover
        margin-left: -9px
        +tablet
            width: 100px
            height: 102px
        +desktop
            width: 150px
            height: 152px
        +mobile
            width: 185px
            height: 187px
            background-image: url(../images/logo_image.svg)
            background-repeat: no-repeat
            background-size: cover
    &__columns
        padding-top: 128px
        padding-bottom: 64px
        +flex
        gap: 83px
        +tablet
            padding-top: 50px
            gap: 8px
        +desktop
            gap: 40px
        +mobile
            flex-direction: column
            gap: 56px
            align-items: center
            padding-top: 81px
    &__verdivider
        width: 4px
        height: 196px
        margin-left: 5px
        background: linear-gradient(#343045,#C0B7E8,#8176AF,#343045)
        +mobile
            display: none

    &__menu
        margin: 0
        padding: 0
        +flex
        flex-direction: column
        gap: 23px
        +tablet
            gap: 16px
        +mobile
            display: none
    &__menu>li
        font-size: 16px
    &__social
        +flex
        flex-direction: column
        gap: 38px
        margin-left: -20px
        &__text
            font-weight: bold
            color: #ffffff
        &__group
            +flex
            gap: 20px

        +mobile
            align-items: center
        +tablet
            margin-left:10px

