.introduction
    font-weight: bold
    font-size: 36px
    margin-top:24px
    color: $white
    +flex
    padding-top: 74px
    gap: 139px
    +desktop
        gap: 20px
        padding-top: 40px
    +tablet
        padding-top: 30px
        gap: 20px
    +mobile
        justify-content: center
    &__title
        font-weight: lighter
        font-size: 36px
        +flex
        flex-direction: column
        width: max-content
        +mobile
            align-items: center
        +mobile
            justify-content: center
    &__text
        font-size: 16px
        font-weight: lighter
        height: max-content
        max-width: 650px
        line-height: 1.27
        padding-left:1px
        +desktop
            max-width: 500px
        +tablet
            font-size: 14px
            max-width: 467px
        +mobile
            display: none
.subtitle
    +flex
    font-weight: lighter
    gap: 10px
    margin-top:-15px
    align-items: center
    +tablet
        font-size: 18px
        gap: 2px
    +desktop
        gap: 2px
        font-size: 30px
    +mobile
        font-size: 26px
.title
    letter-spacing: 0.6px
    padding-top: 2px
    +tablet
        font-size: 30px
    +mobile
        font-size: 26px
        padding-bottom:8px
.intro
    margin-top:37px
    gap:138px
    +desktop
        gap:20px
    +tablet
        gap:20px
    +mobile
        margin-top:0px
.intro_text
    padding-top: 2px
    line-height: 1.55
    padding-left: 14px